@model GalleryViewModel
<div class="row mt-3">
    <h1>Галерея "Название"</h1>
</div>
<div class="row mt-3">
    <h3>О галерее</h3>
    <p>Текст о галерее</p>
</div>

<div class="fixed-bottom m-5 d-flex justify-content-end">
    <p><a href="#top">Наверх@*<img src="up.png" align=right>*@</a></p>
</div>