@model GalleryViewModel

<div class="row mt-3">
    <h1>Выбор экскурсии</h1>

</div>
<div class="row mt-3">
    <h3>По экспозициям</h3>
    <form method="post" action="/Gallery/ExcursionFlow" name="Form">
        <select class="form-select form-select-sm mb-3 mt-3" required name="value" size="10" id="excurs">
            @foreach (var x in Model.allExcurs.Where(e => e.Тип == "экспозиция"))
            {
                <option value="@x.id">@x.Название</option>
            }
        </select>
        <p>
            <input hidden name="picIndex" value="0"/>
            <input hidden name="roomIndex" value="-1"/>
            <button name="type" value="экспозиция">Выбрать</button>
        </p>
    </form>
</div>
<div class="row mt-3">
    <h3>Обзорные</h3>
</div>
<div class="row mt-3">
    <h3>Тематические</h3>
</div>