@model GalleryViewModel

<div class="row mt-3">
    <h1 align="Center">Экспозиции галереи</h1>
    <h3 align="Center">Выберите, какую экспозицию вы хотите посмотреть:</h3>
    <h3>Открытые экспозиции</h3>
    @foreach (var x in Model.allExpos.Where(e => e.ДатаЗакрытия == null || e.ДатаЗакрытия >= DateTime.Now))
    {
        <a href="ShowExpo?id=@x.Код_экспозиции">@x.Название</a>
    }
    <h3>Архивированные экспозиции</h3>
    @foreach (var x in Model.allExpos.Where(e => e.ДатаЗакрытия != null && e.ДатаЗакрытия < DateTime.Now))
    {
        <a href="ShowExpo?id=@x.Код_экспозиции">@x.Название</a>
    }
</div>