<div class="row d-flex justify-content-center">
    <h3 class="col-auto mt-3">Спасибо за внимание!</h3>
    <div class="w-100"></div>
    <a class="col-auto btn btn-outline-secondary mt-3" href="/Home/UserAccount">На главную</a>
    <div class="w-100"></div>
    <br><a class="col-auto btn btn-outline-secondary mt-3" href="/Gallery/Excursions">Пойти на еще одну</a>
</div>