<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/UserAccount">Glry</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Home/Administrator">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DBView/DBView">Просмотреть...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DBAdd/DBAdd">Добавить...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DBEdit/DBEdit">Изменить...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DBDelete/DBDelete">Удалить...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DBQuery/DBQuery">Запрос...</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DBReport/DBReport">Отчет...</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                                Галерея
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" aria-current="page" href="/Home/UserAccount">Главная</a>
                                <a class="dropdown-item" href="/Visitor/Gallery/AboutGallery">О галерее</a>
                                <a class="dropdown-item" href="/Gallery/Excursions">Пойти на экскурсию</a>
                                <a class="dropdown-item" href="/Gallery/Expositions">Посетить экспозицю</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <span class="navbar-text ">
                    Вы вошли как администратор
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Account/Administrator">Аккаунт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Account/Logout">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p>© 2017–2022 Company, Inc.</p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
