<div class="row mt-3">
    <h1 align="Left">Профиль администратора</h1>
</div>
<div class="row mt-1 align-items-end justify-content-start">
    <span class="col-auto " align="Left" style="font-size: x-large">Имя: @UserViewModel.userInfo.Name</span>
    <a class="col-auto" href="" style="font-size: medium">Изменить имя</a>
    <div class="w-100"></div>
    <span class="col-auto " align="Left" style="font-size: x-large">Электронная почта: @UserViewModel.userInfo.Email</span>
    <a class="col-auto" href="" style="font-size: medium">Изменить почту</a>
    <div class="w-100"></div>
    <a class="col-auto" href="" style="font-size: medium">Изменить пароль</a>
</div>