@model AccountViewModel
<div class="row mt-3">
    <h1 align="Left">Изменение электронной почты</h1>
</div>
<div>@Model.ErrorMessage</div>
<form action="/Account/ChangeEmail" method="post">
    <div>
        <div class="form-group">
            <label>Введите новую почту</label>
            <input name="email" />
        </div>
        <div class="form-group">
            <label>Введите пароль</label>
            <input type="password" name="password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сменить почту" class="btn btn-outline-dark" />
        </div>
    </div>
</form>