<div class="row mt-3">
    <h1 align="Center">Войти как</h1>
</div>
<div class="d-flex align-content-between flex-wrap justify-content-center m">
    <a class="nav-link active" aria-current="page" href="/Home/Administrator">Работник галереи</a>
    <a class="nav-link active" aria-current="page" href="/Home/User">Посетитель</a>
</div>
<div class="mt-5 mb-5 d-flex align-content-between flex-wrap justify-content-center m"><img src="/img/29.jpg" /></div>
