@model DBQueryViewModel
<div class="row mt-3">
    <h3>Запросы</h3>
</div>
<div class="row mt-3">
    <h6>Аналитический отчет</h6>
    <br><h6>@ViewBag.mes</h6>
    <form enctype="multipart/form-data" method="post" action="/DBQuery/ReportAction" id="base">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        Файл аналитического отчета
        <p>
            <input required type="file" id="fileU" accept=".csv" name="RepFile" />
            <input type="button" value="Очистить загрузку файла" />
        <p>
            <button name="action" value="addNew">Внести новый</button>
    </form>
    <form enctype="multipart/form-data" method="post" action="/DBQuery/ReportAction">
        <button name="action" value="saveAnalyticalReport">Экспортировать последний загруженный отчет</button>
    </form>
</div>
<div class="row mt-3">
    <h6>Выберете запрос для выполнения</h6>
</div>
<div class="row mt-2 mb-3 ">
    <form method="post" action="/DBQuery/QueryResult">
        @foreach (var x in SQLQueryRepository.queries)
        {
            <button class="row mb-2" name="query" value="@x.Key">@x.Key</button>
        }
        <button class="row mb-2" name="query" value="allQueries">Выполнить все запросы на выборку</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        de();

        $("#fileU").on("change", function () {



            if ($("#fileU").val() != "") {
                $("input[type=button]").attr("style", "display:block");
            } else {
                de();
            }
        });
        $("input[type=button]").click(function () {
            $("#fileU").val('');
            de();
        })

    })

    function de() {
        $("input[type=button]").attr("style", "display:none");
    }
</script>