<div class="row mt-3">
    <h1>Запрос(ы) сохранен(ы)!</h1>
</div>
<div class="row mt-2">
    @if (ViewBag.filename == "-1")
    {
        string res = "";
        foreach (var x in SQLQueryRepository.queries.Where(q=>q.Value.Contains("SELECT")))
        {
            res += " '" + x.Key + ".csv' ";
        }
        <p>Результаты записаны в файл(ы): </p>
        <p> @res</p>
    }
    else
    {
        <p> Результаты записаны в файл @ViewBag.filename.</p>
    }
</div>
