@model DBAddViewModel
<div class="row mt-5 mb-2">
    <h2>Внесение информации о виде реставрации</h2>
    <form class="row mt-5 mb-2" method="post" action="/DBAdd/Вид_реставрации" id="base">
        <div class="col-lg-4">
            <p>
                <h5>Название вида</h5>
                <input type="text" name="ВидРеставрации" required />
            </p>
        </div>

    </form>
    <button form="base">Внести данные</button>
</div>
