@model DBAddViewModel
<div class="row mt-5 mb-2">
    <h4>Внесение информации о материале</h4>
    <form class="row mt-5 mb-2" method="post" action="/DBAdd/Материал" id="base">
        <div class="col-lg-4">
            <p>
                <h6>Название материала</h6>
                <input type="text" name="НазваниеМатериала" required />
            </p>
        </div>

    </form>
    <button form="base">Внести данные</button>
</div>