@model DBAddViewModel
<div class="row mt-5 mb-2">
    <h4>Внесение информации о состоянии картины</h4>
    <form class="row mt-5 mb-2" method="post" action="/DBAdd/Состояние_картины" id="base">
        <div class="col-lg-4">
            <p>
                <h6>Название состояния</h6>
                <input type="text" name="Состояние" required />
            </p>
        </div>
    </form>
    <button form="base">Внести данные</button>
</div>
