@model DBAddViewModel
<div class="row mt-5 mb-2">
    <h4>Внесение информации об экспозиции</h4>
    <form class="row mt-5 mb-2" method="post" action="/DBAdd/Экспозиция" id="base">
        <div class="col-lg-4">
            <p>
                <h6>Название экспозиции</h6>
                <input type="text" name="Название" required />
            </p>
        </div>
        @*<div class="col-lg-4">
            <p>
                <h6>Статус</h6>
                <select required name="Статус">
                    <option></option>
                    @foreach (var x in Model.allEStatus)
                    {
                        <option value="@x.Код_статуса">@x.Статус</option>
                    }
                </select>
            </p>
        </div>*@
        <div class="col-lg-4">
            <p>
                <h6>Дата открытия</h6>
                <input type="date" name="ДатаОткрытия" required onchange="checkDate()" id="in" />

            </p>
        </div>
        <div class="col-lg-4">
            <p>
                <h6>Дата закрытия</h6>
            <p id="mes"></p>
                <input type="date" name="ДатаЗакрытия" onchange="checkDate()" id="out" />
            </p>
        </div>
        <script>
            function checkDate() {
                if (document.getElementById("out").valueAsDate <= document.getElementById("in").valueAsDate) {
                    document.getElementById("mes").textContent = "Введите дату, которая позднее даты открытия!";
                    document.getElementById("out").valueAsDate = null;
                }
            }
        </script>
        <div class="col-lg-4">
            <p>
                <h6>Аннотация</h6>
                <input type="text" name="Аннотация" required />
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                <h6>Пресс-релиз</h6>
                <input type="text" name="Пресс_релиз" required />
            </p>
        </div>
        <button form="base">Внести данные</button>
    </form>
</div>
