
<h1>All paintings</h1>
<div class="row mt-5 mb-2">
    @*@{
        foreach (var pt in Model.allPaintings)
        {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@pt.img" alt="@pt.name" />
                <h2>Name: @pt.name</h2>
                <p>Year: @pt.year.ToString()</p>
            </div>
        }
    }*@    
</div>